<div class="container">

  <h1 class="m-5 text-center">My Bookings</h1>

   <div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @bookings.each do |booking| %>
        <% alpaca = booking.alpaca %>
        <div class="col-12 col-md-12 col-xl-6 d-flex justify-content-center px-5 py-4">
          <div class="card alpaca-card alpaca-card-wide">
            <div class="row g-0">
              <div class="col-md-5">
                <% if alpaca.photo.key.nil? %>
                  <%= image_tag("main-logo.png", class: 'card-img-top') %>
                <% else %>
                  <%= cl_image_tag(alpaca.photo.key, class: 'card-img-top', width: 400, height: 300, crop: :fit) %>
                <% end %>
              </div>
              <div class="col-md-7">
                <div>
                  <div class="card-body">
                    <div class="d-flex align-items-end justify-content-between ">
                      <h2 class="card-title m-0"><%= link_to alpaca.name, alpaca_path(alpaca) %></h2>
                      <div class="d-flex">
                        <p class="card-text m-0 px-1">$</p>
                        <p class="price m-0"><%= alpaca.price_per_night.to_i %></p>
                      </div>
                    </div>
                    <p class="card-location"><%= alpaca.location %></p>
                  </div>
                  <div class="card-body">
                    <div class="card-text text-end">
                      <p>Start Date: <span class="price"><%= booking.start_date %></span></p>
                      <p>End Date: <span class="price"><%= booking.end_date %></span></p>
                      <br>
                      <p>Total cost: $<span class="price"><%= (booking.end_date - booking.start_date).to_i * alpaca.price_per_night.to_i  %></span></p>
                    </div>
                    <div class="mt-5 pt-1">
                      <br>
                      <br>
                      <br>
                      <%= link_to "Cancel Booking", booking_path(booking, origin: 'user_bookings'), id: 'delete-btn-user-page', class: "delete-btn", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this booking?" } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
