<div class="container">
  <h1>See all our Alpacas</h1>

  <% @alpacas.each do |alpaca| %>
    <div class="card">
      <%= link_to alpaca.name, alpaca_path(alpaca) %>
      <%= alpaca.colour %>
      <%= alpaca.hat %>
      <%= alpaca.location %>
      <%= alpaca.price_per_night %>
    </div>
  <% end %>
</div>
