<div class="container">
  <h1 class="m-5 text-center"><%= @alpaca.name %></h1>
</div>

<div class="container d-flex justify-content-between">

  <div class="alpaca-details">

    <% if @alpaca.photo.key.nil? %>
      <%= image_tag("main-logo.png", class: 'card-img-top') %>
    <% else %>
      <%= cl_image_tag(@alpaca.photo.key, class: 'card-img-top', width: 400, height: 300, crop: :fit) %>
    <% end %>

    <p class="alpaca-details-text my-4">
      <strong>Color:</strong> <%= @alpaca.colour %><br>
      <strong>Hat:</strong> <%= @alpaca.hat %><br>
      <strong>Location:</strong> <%= @alpaca.location %><br>
      <strong>Price per Night:</strong> $<%= @alpaca.price_per_night.to_i %>
    </p>

    <p>"This alpaca is extremely cute, you'll love it!"</p>

  </div>

  <div data-controller="review-button">
    <div class="review-box">
      <p class="title"><strong>Reviews</strong></p>
      <div class="list-items">
        <% if @reviews.any? %>
          <% @reviews.each do |review| %>
            <li class="review-item">
              <strong><%= review.title.capitalize %></strong><br>
              <%= review.content.capitalize %>
            </li>
          <% end %>
        <% else %>
          <p>Book this Alpaca to be the first to review it!</p>
        <% end %>
      </div>
      <% if @alpaca_booking.present? %>
        <button id="review-btn" data-action="click->review-button#toggle">Review Alpaca</button>
      <% else %>
        <%= link_to "Book Alpaca", new_alpaca_booking_path(@alpaca), id: "booking-btn" %>
      <% end %>
    </div>

    <% if @alpaca_booking %>
      <div class="form-hide" data-review-button-target="form">
        <div class="review-box" id="review-form">
          <h5 class="text-center">New review</h5>
          <%= simple_form_for [@booking, @review] do |f| %>
            <%= f.input :title %>
            <%= f.input :content %>
            <%= f.submit "Submit review", id: "review-btn" %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>

</div>
