<body>
  <div class="delete-btn-div">
    <%= link_to "Delete Alpaca", alpaca_path(@alpaca), class: "delete-btn", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this Alpaca?" } %>
  </div>
    <div class="review-box">
      <p class="title"><strong>Reviews</strong></p>
      <div class="list-items">
        <% if @reviews.any? %>
          <% @reviews.each do |review| %>
            <li class="review-item">
              <strong><%= review.title.capitalize %></strong><br>
              <%= review.content.capitalize %>
            </li>
          <% end %>
        <% else %>
          <p>Book this Alpaca to be the first to review it!</p>
        <% end %>
      </div>
      <% if @alpaca_booking.present? %>
        <button id="review-btn">Review Alpaca</button>
      <% else %>
        <%= link_to "Book Alpaca", new_alpaca_booking_path(@alpaca), id: "booking-btn" %>
      <% end %>
    </div>
    <% if @alpaca_booking %>
      <div id="form-hide">
        <div class="review-box" id="review-form">
          <h1>New review</h1>
          <%= simple_form_for [@booking, @review] do |f| %>
            <%= f.input :title %>
            <%= f.input :content %>
            <%= f.submit "Submit review", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    <% end %>


    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var reviewBtn = document.getElementById("review-btn");
        var reviewForm = document.getElementById("review-form");

        reviewBtn.addEventListener("click", function() {
          if (reviewForm.style.display === "none") {
            reviewForm.style.display = "block";
          } else {
            reviewForm.style.display = "none";
          }
        });
      });
    </script>

<div class="container">
  <div class="show-container">
    <div class="card" style="width: 40rem;" style="height: 50rem;">
      <div class="row no-gutters">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= @alpaca.name %></h5>
            <p class="card-text">
              <strong>Color:</strong> <%= @alpaca.colour %><br>
              <strong>Hat:</strong> <%= @alpaca.hat %><br>
              <strong>Location:</strong> <%= @alpaca.location %><br>
              <strong>Price per Night:</strong> $<%= @alpaca.price_per_night %>
            </p>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">This alpaca is extremely cute! You'll love it!</li>
          </ul>
        </div>

        <div class="col-md-4">
          <%= cl_image_tag("alkwjtmzbthmhqwtjk9g", cloud_name: 'db0is4xjr', class: 'card-img-top', width: 200, height: 150, crop: :fill, alt: 'Alpaca Image') %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
