<div class="reviews-container">
  <div class="reviews-display">
    <p><strong>Reviews</strong></p>
    <ul>
    <% if @reviews.any? %>
      <% @reviews.each do |review| %>  
        <li><%= review.content %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
<% if @alpaca_booking %>
  <div class="review-box">
    <h1>New review</h1>
    <%= simple_form_for [@booking, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :title %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>
  <% end %>
</div>

<%= link_to "Delete Alpaca", alpaca_path(@alpaca), class: "delete-btn", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this Alpaca?" } %>
</div>

