<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/1123129.jpg);">
  <div class="container">
    <h1 id="animated">Allpaca</h1>
    <p><span data-controller="typed-js"></span></p>
  <div>
    <a class="btn btn-green" href=<%= new_user_registration_path %>>Register Now</a>
  </div>
  </div>
</div>

<br>

<div class="text-center display-2">
  <div>

<div class="image-container">
    <%= image_tag 'alpaca-hat1.jpg', alt: "Description of image 1", class: "square-image" %>
    <%= image_tag 'alpaca-hat2.jpg', alt: "Description of image 2", class: "square-image" %>
    <%= image_tag 'alpaca-hat3.jpg', alt: "Description of image 3", class: "square-image" %>
    <%= image_tag 'alpaca-hat4.jpg', alt: "Description of image 4", class: "square-image" %>
    <%= image_tag 'alpaca-hat5.jpg', alt: "Description of image 5", class: "square-image" %>
</div>
    <h2 class="h1 py-3 pb-5">Here's how Allpaca works</h2>
    <h2 class="display-3">10 years of happy alpacas, 100k+ happy members</h2>
    <p class="display-5">Search and rent your favorite alpaca. It's easy as 1, 2, 3.</p>
  </div>
  <div class="text-muted">
  </div>
</div>

<br>
<br>
<br>

<div class="card-group display-6">
  <div class="card text-center">
    <div class="card-body">
      <h4 class="card-title display-3">1. Find an alpaca</h4>
      <br>
      <i class="fa-solid fa-magnifying-glass text-center display-1 pb-5"></i>
      <br>
      <p class="card-text">Search and find your favorite alpaca nearby.</p>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h4 class="card-title display-3">2. Book the alpaca </h4>
      <br>
      <i class="fa-solid fa-book-open text-center display-1 pb-5"></i>
      <br>
      <p class="card-text">Book the alpaca through our safe online system.</p>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h4 class="card-title display-3">3. Meet the alpaca!</h4>
      <br>
      <i class="fa-solid fa-van-shuttle text-center display-1 pb-5"></i>
      <br>
      <p class="card-text">We offer special alpaca home delivery, however you're more than welcome to pick up in person.</p>
    </div>
  </div>
</div>
