
<div class="container my-4">
  <div class="px-4 py-5">
    <div class="d-flex">
      <h1 class="mb-4">Hello <%= @user.username %></h1>
      <i class="fa-solid fa-user display-1 px-4"></i>
      <div>
        <%= link_to 'Edit your profile', edit_user_registration_path, class: 'btn btn-green mx-5 text-center' %>
      </div>
    </div>

    <br>
    <br>

    <div>
      <% if @alpacas.nil? %>
        <h2>You don't have any alpacas 😭</h2>
      <% else %>
        <h2>You have <%= @alpacas.count %> alpaca<%= @alpacas.count == 1 ? '' : 's' %>!</h2>
      <% end %>   
    </div>
  </div>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @alpacas.each do |alpaca| %>
      <div class="col px-5 py-4">
        <div class="card alpaca-card">
          <% if alpaca.photo.key.nil? %>
            <%= image_tag("main-logo.png", class: 'card-img-top') %>
          <% else %>
            <%= cl_image_tag(alpaca.photo.key, class: 'card-img-top', width: 400, height: 300, crop: :fit) %>
          <% end %>
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between ">
              <h2 class="card-title m-0"><%= link_to alpaca.name, alpaca_path(alpaca) %></h2>
              <div class="d-flex">
                <p class="card-text m-0 px-1">$</p>
                <p class="price m-0"><%= alpaca.price_per_night.to_i %></p>
              </div>
            </div>
            <p class="card-location"><%= alpaca.location %></p>
            <br>
            <%= link_to "Delete Alpaca", alpaca_path(alpaca), id: "delete-btn", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this Alpaca?" } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
